# Server
MAX_UPLOAD_SIZE_KB=2000
MAX_CONCURRENT_UPLOADS=2

# Client
SERVER_URL=http://127.0.0.1:8000
RESOURCES_DIR=resources
CONCURRENCY=20
THUMB_WIDTH=200
THUMB_DIR=resource-thumb
# NO_THUMBNAILS=true

# Proxy (optional)
# HTTPS_PROXY=http://proxy.example.com:8080
# NO_PROXY=localhost,127.0.0.1
